
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 6px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.styled-select select {
   background: transparent;
   width: 105%;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 30px;
   -webkit-appearance: none;
   }
   
   .styled-select {
   width: 100%;
   height: 30px;
   overflow: hidden;
   background: rgb(135, 185, 195) url("../images/icons/new_arrow.png") no-repeat scroll right center
   }

.imagefadein {
height:100%; width:100%; background-color:white; opacity:0;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 1000ms;
}

.fade.ng-hide-add {
  transition: all linear 500ms;
}

.modal-lg
{
	width: 90%;
}

.removal
{
	position: absolute;
right: 0;
padding:10px;
opacity:0;
cursor:pointer;
}

.removal:hover
{
	position: absolute;
right: 0;
padding:10px;
color: rgb(119, 0, 0);
cursor:pointer;
opacity:1;
}

@keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}




h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    color: #1b2527;
	font-family: 'Oswald', sans-serif;
}

p, .p { color: #87b9c3;
		font-family: 'Oswald', sans-serif;
}





.bg {
  background: url('http://thestarkmarket.com/thetatau/res/images/thetataubanner.PNG') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.carousel-control.right {
    right: 0px;
    left: auto;
    background-image: none;
    background-repeat: none;
	width:2%;
	opacity:0;
}
.carousel-control.right:hover {
    right: 0px;
    left: auto;
    background-image: none;
    background-repeat: none;
	width:2%;
	opacity:0.3;
}
.carousel-control.left {
    right: auto;
    left: 0;
    background-image: none;
    background-repeat: none;
	width: 2%;
	opacity:0;
}

.carousel-control.left:hover {
    right: auto;
    left: 0;
    background-image: none;
    background-repeat: none;
	width: 2%;
	opacity:0.3;
}

.carousel-indicators
{
	bottom:5px;
}

.carousel-indicators li {
	margin-left:20px;
	margin-right:20px;
}

.carousel-indicators .active {
	margin-left:20px;
	margin-right:20px;
}

.ui_icons
{
	width: 20px;
	padding-top:7px;
	padding-bottom: 7px;
	
}

.ui_imgs
{
	background-color: rgba(248, 248, 248, 0.9);
	 box-shadow: 5px 5px 3px rgb(102, 102, 102);
	  text-align: left; background-image:url(res/images/userimages/at1.jpg);
	   background-repeat: no-repeat;
	    background-size: cover; height: 175px;
		 background-position: center center;
		 padding:0;
	}
	
	#padd
	{
		padding: 5px;
	}

.progress-bar
{
	line-height: 15px;
}

.mainbody
{
	background-color: #1b2527;
}
.vertcent
{
	/* Internet Explorer 10 */
display:-ms-flexbox;
-ms-flex-pack:center;
-ms-flex-align:center;

/* Firefox */
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:center;

/* Safari, Opera, and Chrome */
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;

/* W3C */
display:box;
box-pack:center;
box-align:center;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}
#clipped-title1 {
    background: url('http://thestarkmarket.com/thetatau/res/images/gold.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
 
.curtain{    
    position: fixed;
	height: 100%;
    width: 100%;
    background-color: black;
    z-index: 9999;
    opacity: 0.74;
	
	}
	
	
#clipped-title2 {
    background: url('http://thestarkmarket.com/thetatau/res/images/gold.jpg') no-repeat top center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    cursor: pointer;
}
 
#clipped-title1 small {
    font-size: 200px;
    font-family: Anton, sans-serif;
    text-align: center;
    -webkit-transition: text-shadow 1s ease;
    text-shadow: 0 0 1px rgba(0,0,0,.1);
    margin: 0;
    padding: 0;
}
 
#clipped-title2 small {
    font-size: 110px;
    font-family: Pacifico, sans-serif;
    text-align: center;
    -webkit-transition: text-shadow 1s ease;
    text-shadow: 0 0 1px rgba(0,0,0,.1);
    margin-top: -75px;
    padding: 0;
}

#statbox
{
	border:2px solid #333; 
	height: 50px;
	border-radius:4px;
}

.features {
    float: right;
    width: 300px;
    padding-left: 20px;
}
.features .heading {
    font-size: 14px;
    font-weight: bold;
}

.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}
.drop.drag-over {
    background: #5CB85C;
    color: #fff
}
.transfer-box {
    margin-bottom: 5px;
}
.transfer-box .progress {
    margin-bottom: 0;
}

.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
}
.thumbnail img {
    max-width: 200px;
    max-height: 150px;
}

.gallery-box {
    width: 200px;
    padding: 5px;
    margin: 7px;
    float: left;
    min-height: 200px;
    border: 1px solid #ddd;
    overflow: hidden;
	background-color: #D9E3E6;
}
.gallery-box .progress {
    margin-bottom: 0;
}
.gallery-box .thumbnail {
    height: 188px;
    width: 188px;
}
.gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
}

.modal-lg
{
}

body
{ padding-top:none;}

.arrow {
    cursor: pointer;
    display: block;
    height: 64px;
    margin-top: -35px;
    outline: medium none;
    position: absolute;
    top: 50%;
    width: 64px;
    z-index: 5;
}
.arrow.prev {
    
    left: 20px;
    opacity: 0.2;
    transition: all 0.2s linear 0s;
}
.arrow.next {
  
    opacity: 0.2;
    right: 20px;
    transition: all 0.2s linear 0s;
}
.arrow.prev:hover{
    opacity:1;
}
.arrow.next:hover{
    opacity:1;
}

.nav {
    text-align: center;
    width: 100%;
    z-index: 5;
}
.nav li {
    border: 2px solid #AAAAAA;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 0 8px;
    position: relative;
    width: 50px;
}
.nav li.active {
    border: 2px solid #FFFFFF;
}
.nav li img {
    width: 100%;
}

.slider {
    
    height: 470px;
    margin: 20px auto;
    position: relative;
    width: 100%;

    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.slide {
    top: 0;
    left: 0;
}
.slide.ng-hide-add {
    opacity:1;

    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    -webkit-transform: rotateX(50deg) rotateY(30deg);
    -moz-transform: rotateX(50deg) rotateY(30deg);
    -ms-transform: rotateX(50deg) rotateY(30deg);
    -o-transform: rotateX(50deg) rotateY(30deg);
    transform: rotateX(50deg) rotateY(30deg);

    -webkit-transform-origin: right top 0;
    -moz-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    -o-transform-origin: right top 0;
    transform-origin: right top 0;
}
.slide.ng-hide-add.ng-hide-add-active {
    opacity:0;
}
.slide.ng-hide-remove {
    -webkit-transition:1s linear all;
    -moz-transition:1s linear all;
    -o-transition:1s linear all;
    transition:1s linear all;

    display:block!important;
    opacity:0;
}
.slide, .slide.ng-hide-remove.ng-hide-remove-active {
    opacity:1;
}