<link rel="stylesheet" type="text/css" href="res/CSS/design1.css" />

<div class="visible-md-block visible-lg-block" style="margin-top:50px;"></div>
<div class="visible-xs-block visible-sm-block" style="margin-top:4px;"></div>

<div class="container">

        <div ng-controller="loginController">
	<div class="row">
    	<div class="col-xs-6 col-md-3" style="padding: 0;">
        <a href="index.php">
        	<div id="testdiv" class="default-block" style="display:flex; align-items:center;">
            		<h1 style="font-size: 40px; width: 100%; text-align:center; margin:0;">Arc<span style="color: #87b9c3">Folio</span></h1>
            </div>
        </div>
        </a>
    	<div class="col-xs-6 col-md-3" style="padding: 0;">
        	<div class="default-block"><h3 style="padding:2px; padding-left: 3px; margin:0;">Visual<br>Student<br>Portfolios</h3></div>
        </div>
        <form>
            <div class="col-xs-5 col-md-3" style="padding: 0;">
                <div class="default-block">
                    <div style="text-align: left; text-indent: 9px;">
                          <label for="loginEmail" style="text-align: left;font-size: 24px;top: 11px;position: absolute;">Email:</label>
                          <input ng-model="loginInfo.email" id="loginEmail" class="form-control form-box" style="position: absolute;bottom: 11px;margin-left: 2%;width: 93%;" placeholder="Email Address" required="" autofocus type="text">
                    		
                
                    </div>
                </div>
            </div>
            <div class="col-xs-5 col-md-2" style="padding: 0;">
                <div class="default-block">
                    <div style="text-align: left; text-indent: 9px;">
                          <label for="loginPassword" style="text-align: left;font-size: 24px;top: 11px;position: absolute;">Password:</label>
                          <input ng-model="loginInfo.password" id="loginPassword" class="form-control form-box" style="position: absolute;bottom: 11px;margin-left: 2%;width: 93%;" placeholder="Password" required="" autofocus type="password">
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-md-1" style="padding: 0;">
                <div id="testdiv" class="default-block" style="display:flex; align-items:center; background-color: rgb(135, 185, 195);color: rgb(27, 37, 39);">
                <button ng-click="login(loginInfo)" style="width:100%; height: 80px; background-color: rgb(135, 185, 195);color: rgb(27, 37, 39); border: none;">
                        <h4 style=" width: 100%; text-align:center; margin:0;">Log in</h4>
                </button>
                </div>
            </div>
        </div>
        </form>
    
	<div ng-show="response" class="row" style="margin-bottom:10px;">
    	<div class="col-xs-12" style="padding: 0;">
        	<div id="testdiv" class="default-block" style="display:flex; align-items:center; min-height:0; padding:5px; text-align:center;">
            	<p style="font-weight: bold; margin:0; width: 100%; color: {{responsecolor}};">{{ response }}</p>
            </div>
        </div>
    </div>
    </div>
    
	<div class="row" style="margin-bottom:10px;">
    	<div class="col-xs-12"  style="padding: 0;">
        	<div class="default-block" style="height:auto;"><newsfeed></newsfeed></div>
        </div>
    </div>
	<div class="row">
    	<div class="col-xs-12 col-sm-6" style="padding: 0;">
        	<div class="default-block">
            <div ng-hide="register" class="row" style="height:50px;">
				<div ng-click="onRegister()" class="col-xs-6" style="border-bottom:3px solid rgb(27, 37, 39); height: 100%; display:flex; align-items: center;"><h3 style="margin:0; margin-left: 15px; font-size:15px;">Create a Portfolio.</h3></div>
				<div ng-click="onRegister()" class="col-xs-6" style="border-left: 5px solid rgb(27, 37, 39); height: 100%; display:flex; align-items: center;margin: 0;"><h3 style="margin:0;color: #333; font-size:15px;
font-weight: bold;">Create a Company Page.</h3></div>
			</div>
            <div ng-show="register" class="row" style="height:50px;">
				<div ng-click="onRegister()" class="col-xs-6" style="border-right: 5px solid rgb(27, 37, 39);height: 100%; display:flex; align-items: center;"><h3 style="margin:0; margin-left: 15px; font-size:15px;font-weight: bold;">Create a Portfolio.</h3></div>
				<div ng-click="onRegister()" class="col-xs-6" style=" border-bottom:3px solid rgb(27, 37, 39); height: 100%; display:flex; align-items: center;margin: 0;"><h3 style="margin:0;color: #333; font-size:15px;
">Create a Company Page.</h3></div>
			</div>
			
                <form ng-controller="registerController" class="form-signin">               
                <!--div ng-hide="register" style="margin: 10px 0px; text-align: left; text-indent: 9px;">
                  <label style="text-align: left;" for="inputEmail">Company Name</label>
                  <input ng-model="user.company" id="inputEmail" class="form-control form-box" placeholder="Email Address" required="" autofocus type="text">
                </div-->               
                <div style="margin: 10px 0px; text-align: left; text-indent: 9px;">
                  <label style="text-align: left;" for="inputEmail">Email</label>
                  <input ng-model="user.email" id="inputEmail" class="form-control form-box" placeholder="Email Address" required="" autofocus type="text">
                </div>
                <div style="margin: 10px 0px; text-align: left; text-indent: 9px;">
                  <label for="inputPassword">Password</label>
                  <input ng-model="user.pass1" id="inputPassword" class="form-control form-box" placeholder="Password" required="" type="password">
                </div>
                <div style="margin: 10px 0px; text-align: left; text-indent: 9px;">
                  <label for="inputPassword">Re-Enter Password</label>
                  <input ng-model="user.pass2" id="inputPassword" class="form-control form-box" placeholder="Re-Enter Password" type="password">
                </div>
                <div style="margin: 10px 0px; text-align: left; text-indent: 9px;">
                  <label for="inputPassword">Are you human?</label>
                  <div vc-recaptcha on-success="setResponse(response)" key="'6LcFmQYTAAAAAAVYY5zIgDjIJuWxCgkWsMdoCNSx'"></div>
                  </div>
                <div style="margin: 10px 0px; text-align: left; text-indent: 9px;">
                  <p ng-show="response" style="font-weight: bold; text-align:center; color: {{responsecolor}};">{{ response }}</p>
                  </div>
                <button  ng-click="createAccount(user)" class="btn btn-lg btn-primary btn-block custom-btn" type="button">Create An Account.</button>
              </form>
            </div>
        </div>
    	<div class="col-xs-12 col-sm-6" style="padding: 0;">
        	<div class="default-block" style="height:413px;">
            <h1 style="margin:0; padding:0; margin-left:10px;"> Explore Student Work </h1>
            <h3> 123 Sign Ups </h3>
            </div>  
        </div>
    </div>

</div>


