<link rel="stylesheet" type="text/css" href="res/CSS/design1.css" />

<div class="visible-md-block visible-lg-block" style="margin-top:50px;"></div>
<div class="visible-xs-block visible-sm-block" style="margin-top:4px;"></div>

<div class="container">
	<div class="row" style="margin-bottom:10px;">
    	<div class="col-xs-6 col-md-3" style="padding: 0;">
        <a href="index.php">
        	<div id="testdiv" class="default-block" style="display:flex; align-items:center;">
            		<h1 style="font-size: 40px; width: 100%; text-align:center; margin:0;">Arc<span style="color: #87b9c3">Folio.</span></h1>
            </div>
        </a>
        </div>
    	<div class="col-xs-6 col-md-3" style="padding: 0;">
        	<div id="testdiv" class="default-block" style="display:flex; align-items:center;">
            		<h1 style="font-size: 36px; width: 100%; text-align:center; margin:0;">{{ Session.email }}</h1>
            </div>
        </div>
    	<div class="col-xs-6 col-md-3" style="padding: 0;">
       <a href="tempIntern">
       <div id="testdiv" class="default-block" style="display:flex; align-items:center;">
            	<h1 style="font-size: 36px; width: 100%; text-align:center; margin:0;"><span style="color: #87b9c3">Internship Listings</span></h1>
      </div>
      </a>
     
  </div>
    <div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-body" style="padding-top: 0; padding-bottom: 50px;" ng-hide="imguploader">
			<div class="row" style="height:50px;">
				<div class="col-xs-6" style="border-bottom:3px solid black; height: 100%; display:flex; align-items: center;"><h3 style="margin:0;">Account Settings</h3></div>
				<div class="col-xs-6" style="border-left: 5px solid black; height: 100%; display:flex; align-items: center;margin: 0;"><h3 style="margin:0;color: #333;
font-weight: bold;">Portfolio Settings</h3></div>
			</div>
			<div class="row" style="font-size: 15px; font-weight: bold; padding-top:13px;">
				<div class="col-xs-1"></div>
				<div style="text-align: center;" class="col-xs-2"><p>Number of Tabs:</p></div>
				<div style="text-align: center;" class="col-xs-2"><p>2</p></div>
				<div style="text-align: center;" class="col-xs-2"><p>4</p></div>
				<div style="text-align: center;" class="col-xs-2"><p>6</p></div>
				<div style="text-align: center;" class="col-xs-2"><p style="border: 3px solid rgb(135, 185, 195);
margin: 0px 25%;">8</p></div>
				
				<div class="col-xs-1"></div>
			</div>
			<div class="row" style="padding-top:12px;">
				<div class="col-xs-1"></div>
				
				<div class="col-xs-10">
					<div class="row">
						<div class="col-xs-12"  style="padding: 0;">
						<div ng-repeat="tab in $root.tabs" ng-click="imgupload($index)" class="col-xs-6 col-md-3" style="padding: 0;">
							<div id="testdiv" class="user-block-edit" style="min-height:200px; display:flex; align-items:center;">
									<h1 class="ub-header-t-modal">{{tab.name}}</h1>
							</div>
						</div>
						
					</div>
				</div>
				
				<div class="col-xs-1"></div>
			</div>
      		
			</div>
			<div class="row" style="padding-top:20px;">
				<div class="col-xs-1"></div>
				<div class="col-xs-3"><p style="text-align:center; font-size: 15px; font-weight: bold;">Top 3 Skills:</p></div>
				<div class="col-xs-7">
					<div class="row">
						<input type="text" class="textbar" style="border-top:none;" />
					</div>
					<div class="row">
						<input type="text" class="textbar" />
					</div>
					<div class="row">
						<input type="text" class="textbar" />
					</div>
				</div>
				<div class="col-xs-1"></div>
			</div>
			<div class="row" style="padding-top:20px;">
				<div class="col-xs-1"></div>
				<div class="col-xs-3"><p style="text-align:center; font-size: 15px; font-weight: bold;">Top Physical Skill:</p></div>
				<div class="col-xs-7">
					<div class="row">
						<input type="text" class="textbar" style="border-top:none;" />
					</div>
				</div>
				<div class="col-xs-1"></div>
			</div>
			<div class="row" style="padding-top:20px;">
				<div class="col-xs-1"></div>
				<div class="col-xs-7">
					<div class="row">
						<button class="btn btn-lg btn-primary btn-block custom-btn" type="button">Save Settings.</button>
					</div>
				</div>
				<div class="col-xs-3"></div>
				<div class="col-xs-1"></div>
			</div>
			
        </div>
		
		<div class="modal-body" style="padding-top: 0; padding-bottom: 50px; padding-right: 25px;"  ng-show="imguploader">
			<div class="row" style="height:50px;">
				<div class="col-xs-6" style="border-bottom:3px solid black; height: 100%; display:flex; align-items: center;"><h3 style="margin:0;">Account Settings</h3></div>
				<div class="col-xs-6" style="border-left: 5px solid black; height: 100%; display:flex; align-items: center;margin: 0;"><h3 style="margin:0;color: #333;
font-weight: bold;">Portfolio Settings</h3></div>
			</div>
			
                    <div flow-init
     flow-files-submitted="$flow.upload()"
     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
			<div class="row" style="padding-top:20px;">
				<div ng-click="imgupload(1)" class="col-xs-1">
				<p style="text-align:center; font-size: 15px; font-weight: bold; color:black; cursor: pointer;"><span style="top:2px;" class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back</p></div>
				<div class="col-xs-3"><p style="text-align:center; font-size: 15px; font-weight: bold;">Tab Name: </p></div>
				<div class="col-xs-7">
					<div class="row">
						<input ng-model="$root.tabs[tabnum].name" ng-change="update($root.tabs[tabnum])" class="textbar ng-pristine ng-valid" style="border-top: medium none; width: 90%;" type="text">
					
						<img ng-show="loader" style="height: 17px; margin-bottom: 5px;" src="http://www.thestarkmarket.com/arcfolio/res/images/icons/350.GIF">
						<span ng-show="success" class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 18px; color: #0F8708;"></span>
						</div>
				</div>
				<div class="col-xs-1"></div>
			</div>
            
                	<div class="row"><div class="col-xs-3"><h3>Image Uploader</h3></div>
                    <div class="drop col-xs-9" flow-drop ng-class="dropClass" style="border: 2px #87B9C3 dashed; margin-bottom: 10px;">
                    <span class="btn btn-default" flow-btn>Upload Image</span>
                    <b>OR</b>
                    Drag And Drop your images here
                  </div></div>
            <div class="row">
            	<div class="col-sm-3">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[0].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[0].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[1].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[1].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[2].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[2].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[3].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[3].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[4].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[4].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[5].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[5].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[6].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[6].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[7].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[7].desc" value="Image Description" />
                            </div>
                        </div>
                </div>
            	<div class="col-sm-9">
                
                	
                       
                      <div ng-repeat="file in $flow.files" class="col-sm-4 col-md-3">
                        <div class="thumbnail" style="background-color: #87B9C3;" >
                          <img flow-img="file" style="height: 200px; width: 100%; display: block; background-color: rgba(188,188,188,1.00);">
                          <div class="caption">
                            <p style="color:black;">{{file.name | pictyperemover}}<p>
                            <p style="color:black;" popover="{{file.desc}}" popover-placement="bottom" popover-trigger="mouseenter" >{{file.desc | limitTo:15 }}..</p>
                            <span ng-click="file.cancel()"  class="glyphicon glyphicon-remove removal" aria-hidden="true"></span>
                          </div>
                        </div>
                      </div>
                </div>
                       </div> 
					<div class="row">
						<button class="btn btn-lg btn-primary btn-block custom-btn" type="button">Save Images.</button>
					</div>
            </div>
				</div>
			
			
        </div>
    </script>
    	<div ng-click="open('lg')" class="col-xs-6 col-md-3" style="padding: 0;">
        	<div id="testdiv" class="default-block" style="display:flex; align-items:center;">
            		<h1 style="font-size: 36px; width: 100%; text-align:center; margin:0;"><span style="color: #87b9c3">Settings</span></h1>
            </div>
        </div>
	</div>
    </div>
    

	
     <!----------------------------------------------------------------------------------------------------------------------------------------->
    <div ng-controller="maintabs">
    <div class="visible-md-block visible-lg-block">
    <div class="row">
    	<div class="col-xs-12"  style="padding: 0;">
            	<div style="height:100%; width: 100%; background-image:url(res/images/userimages/m2.jpg); background-repeat: no-repeat;
	    background-size: cover;
		 background-position: center center; position:absolute; min-height:800px;"></div>
            
            <div ng-repeat="tab in $root.tabs.slice(0,4)" class="col-xs-6 col-md-3" style="padding: 0;">
                <div id="testdiv" class="user-block">
                        <h1 class="ub-header-t">{{tab.name}}</h1>
                </div>
            </div>
            <div ng-repeat="tab in $root.tabs.slice(4,8)" class="col-xs-6 col-md-3" style="padding: 0;">
                <div id="testdiv" class="user-block">
                        <h1 class="ub-header-b">{{tab.name}}</h1>
                </div>
            </div>
        </div>
      </div>
      </div>
      <!----------------------------------------------------------------------------------------------------------------------------------------->
     <!----------------------------------------------------------------------------------------------------------------------------------------->
    <div class="visible-sm-block visible-xs-block">
    <div class="row">
    	<div class="col-xs-12"  style="padding: 0;">
            	<div style="height:100%; width: 100%; background-image:url(res/images/userimages/m3.jpg); background-repeat: no-repeat;
	    background-size: cover;
		 background-position: center center; position:absolute; min-height:800px;"></div>
         
            <div class="col-xs-12" style="padding: 0;">
                <div ng-repeat="tab in $root.tabs" id="testdiv" class="user-block-sm" style="display:flex; align-items:center;">
                        <h1 class="ub-header">{{tab.name}}</h1>
                </div>
            </div>
            
            
            
        </div>
      </div>
      </div>
      </div>
      <!----------------------------------------------------------------------------------------------------------------------------------------->
      
    <div ng-controller="ModalDemoCtrltwo">
    <script type="text/ng-template" id="myModalContenttwo.html">
        <div>
    <object data="//thestarkmarket.com/arcfolio/html_plugins/test.pdf" type="application/pdf" style="height: 700px; width: 100%;">
        alt : <a href="test.pdf">test.pdf</a>
    </object>
		</div>
    </script>
      <div ng-click="imgupload(1)" class="row" style="margin-bottom:25px;">
    	<div class="col-xs-12" style="padding: 0;">
        	<div id="testdiv" class="default-block" style="display:flex; align-items:center;">
            		<h1 style="font-size: 36px; width: 100%; text-align:center; margin:0;"><span style="color: #1B2527">View Resume</span></h1>
            </div>
        </div>
       </div>
       </div>
    </div>
</div>