
<div class="container"  style="background-color:white; border:2px solid black; min-height:200px;">

      <h3>
<a name="gallery-example" class="anchor" href="#gallery-example"><span class="octicon octicon-link"></span></a>Image File Uploader Tool</h3>
<div flow-init
     flow-files-submitted="$flow.upload()"
     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
  <div class="drop" flow-drop ng-class="dropClass">
    <span class="btn btn-default" flow-btn>Upload Image</span>
    <b>OR</b>
    Drag And Drop your images here
  </div>
  <div class="drop" flow-drop ng-class="dropClass">
    <span class="btn btn-default" flow-btn>Upload Image</span>
    <b>OR</b>
    Drag And Drop your images here
  </div>

  <br/>
  <div>

    <div ng-repeat="file in $flow.files" class="gallery-box">
      <span class="title">{{file.name}}</span>
      <div class="thumbnail" ng-show="$flow.files.length">
        <img flow-img="file" />
      </div>
      <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
        <div class="progress-bar" role="progressbar"
             aria-valuenow="{{file.progress() * 100}}"
             aria-valuemin="0"
             aria-valuemax="100"
             ng-style="{width: (file.progress() * 100) + '%'}">
          <span class="sr-only">{{file.progress()}}% Complete</span>
        </div>
      </div>
      <div class="btn-group">
        <a style="margin-top:5px;" class="btn btn-xs btn-danger" ng-click="file.cancel()">
          Remove
        </a>
      </div>
    </div>
    <div class="clear"></div>
  </div>

</div></div>


<div class="container" style="margin-top:36px; background-color: white;">
<div class="modal-body" style="padding-top: 0; padding-bottom: 50px;">
			<div class="row" style="height:50px;">
				<div class="col-xs-6" style="border-bottom:3px solid black; height: 100%; display:flex; align-items: center;"><h3 style="margin:0;">Account Settings</h3></div>
				<div class="col-xs-6" style="border-left: 5px solid black; height: 100%; display:flex; align-items: center;margin: 0;"><h3 style="margin:0;color: #333;
font-weight: bold;">Portfolio Settings</h3></div>
			</div>
			
                    <div flow-init
     flow-files-submitted="$flow.upload()"
     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
			<div class="row" style="padding-top:20px;">
				<div class="col-xs-1"></div>
				<div class="col-xs-3"><p style="text-align:center; font-size: 15px; font-weight: bold;">Tab Name:</p></div>
				<div class="col-xs-7">
					<div class="row">
						<input type="text" class="textbar" style="border-top:none;" />
					</div>
				</div>
				<div class="col-xs-1"></div>
			</div>
            
                	<div class="row"><div class="col-xs-3"><h3>Image Uploader</h3></div>
                    <div class="drop col-xs-9" flow-drop ng-class="dropClass">
                    <span class="btn btn-default" flow-btn>Upload Image</span>
                    <b>OR</b>
                    Drag And Drop your images here
                  </div></div>
            <div class="row">
            	<div class="col-sm-3">
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[0].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[0].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[1].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[1].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[2].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[2].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[3].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[3].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[4].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[4].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[5].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[5].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[6].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[6].desc" value="Image Description" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:10px;">
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;" ng-model="$flow.files[7].name" placeholder="Image Name" />
                            </div>
                            <div class="col-xs-12">
                                <input type="text" class="textbar" style="border-top:none;"  ng-model="$flow.files[7].desc" value="Image Description" />
                            </div>
                        </div>
                </div>
            	<div class="col-sm-9">
                
                	
                       
                      <div ng-repeat="file in $flow.files" class="col-sm-4 col-md-3" style="padding:1px;">
                        <div class="thumbnail" >
                          <img flow-img="file" style="height: 200px; width: 100%; display: block; background-color: rgba(188,188,188,1.00);">
                          <div class="caption">
                            <p>{{file.name}}<p>
                            <p popover="{{file.desc}}" popover-placement="bottom" popover-trigger="mouseenter" >{{file.desc | limitTo:20 }}..</p>
                            <span ng-click="file.cancel()"  class="glyphicon glyphicon-remove removal" aria-hidden="true"></span>
                            <p><buttonclass="btn btn-primary" role="button">Remove</button> <a href="#" class="btn btn-default" role="button">Button</a></p>
                          </div>
                        </div>
                      </div>
                </div>
                        
					<div class="row">
						<button class="btn btn-lg btn-primary btn-block custom-btn" type="button">Save Images.</button>
					</div>
            </div>
				</div>
			
			
        </div></div>
